<div class="home-container">
  <div class="murrey-header">
    <div class="murrey-header-text jeebra">
      MurreyJS
    </div>
    <div class="murrey-header-sub-text jeebra">
      Joseph Stalcup Murrey
    </div>
  </div>

  <div class="selection-sidebar">
    <app-custom-sidebar></app-custom-sidebar>
  </div>
</div>

<div class="about-me-container">

</div>

<div class="content-example-container" id="stock-data-viz-page">
  <app-stock-viz-page></app-stock-viz-page>
</div>

<div class="content-example-container" id="audio-data-viz-page">

</div>

<div class="content-example-container" id="artwork-page">

</div>
