<div class="sidebar-container">
  <div class="data-viz-stock-selection">
    <app-sidebar-selection [title]="stockDataVizTitle" imageSrc="show_chart" scrollId="stock-data-viz-page"></app-sidebar-selection>
  </div>
  <div class="data-viz-music-selection">
    <app-sidebar-selection [title]="audioDataVizTitle" [imageSrc]="null" scrollId="audio-data-viz-page"></app-sidebar-selection>
  </div>
  <div class="artwork-selection">
    <app-sidebar-selection [title]="artworkTitle" [imageSrc]="null" scrollId="artwork-page"></app-sidebar-selection>
  </div>
</div>
